<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head") %>
<body>
    <header>
        <h1>Graphics Cards Overview</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">Graphics Cards</a></li>
            <li><a href="/manufacturers">Manufacturers</a></li>
            <!-- Add more navigation links as needed -->
        </ul>
    </nav>
    <main>
        <form action="/" method="get">
            <select name="sortField">
                <% for (let field of sortFields) { %>
                    <option value="<%= field.value %>" <%= field.selected %>><%= field.text %></option> 
                <% } %>
            </select>
            <select name="sortDirection">
                <% for (let direction of sortDirections) { %>
                    <option value="<%= direction.value %>" <%= direction.selected %>><%= direction.text %></option> 
                <% } %>
            </select>
            <button type="submit">Sort</button>
        </form>
        <input type="text" id="searchInput" placeholder="Search by name" name="searchTerm">
        <table>
            <thead>
                <tr>
                    <% for (let field of sortFields) { %>
                        <th>
                            <a href="?sortField=<%= field.value %>&sortDirection=<%= field.value === sortField ? sortDirection === 'asc' ? 'desc' : 'asc' : 'asc' %>">
                                <%= field.text %>
                                <% if (field.value === sortField) { %>
                                    <%- sortDirection === 'asc' ? '▲' : '▼' %>
                                <% } %>
                            </a>
                        </th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% for (let card of cards) { %>
                    <tr>
                        <td><a href="/detail/<%= card.id %>"><%= card.name %></a></td>
                        <td><%- card.description%></td>
                        <td><%- card.price %></td>
                        <td><%- card.releaseDate%></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </main>
</body>
</html>
