<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>
<body>
    <%- include("partials/header") %>
    <main>
        <form action="/cards" method="get">
            <select name="sortField">
                <% for (let field of sortFields) { %>
                    <option value="<%= field.value %>" <%=field.selected %>><%= field.text %></option>
                <% } %>
            </select>
            <select name="sortDirection">
                <% for (let direction of sortDirections) { %>
                    <option value="<%= direction.value %>" <%=direction.selected %>><%= direction.text %></option>
                <% } %>
            </select>
            <input type="text" id="searchInput" placeholder="Search by name" name="q" value="<%=q%>">
            <button type="submit">Sort</button>
        </form>
        <table>
            <thead>
                <tr>
                    <% for (let field of sortFields) { %>
                        <th>
                            <a href="?sortField=<%= field.value %>&sortDirection=<%= field.value === sortField ? sortDirection === 'asc' ? 'desc' : 'asc' : 'asc' %>&q=<%= q %>">
                                <%= field.text %>
                                <% if (field.value === sortField) { %>
                                    <%- sortDirection === 'asc' ? '▲' : '▼' %>
                                <% } %>
                            </a>
                        </th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% for (let card of cards) { %>
                    <tr>
                        <td><a href="/detail/<%= card.id %>"><%= card.name %></a></td>
                        <td><%- card.description %></td>
                        <td><%- card.price %></td>
                        <td><%- card.releaseDate %></td>
                        <td><a href="/cards/<%= card.id %>/edit"><button type="button">Edit</button></a></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </main>
</body>
</html>
