<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head") %>
<body id="detail-body">
    <%- include("partials/header") %>
    <main id="detail-main">
        <section class="card-details">
            <h1><%=card.name%></h1>
            <img src="<%= card.imageURL %>" alt="<%= card.name %>">
            <p><strong>Description:</strong> <%= card.description %></p>
            <p><strong>Price:</strong> $<%= card.price %></p>
            <p><strong>Production status:</strong> <%= card.productionStatus %></p>
            <p><strong>Manufacturer:</strong> <%= card.manufacturer %></p>
            <p><strong>Recommended usage:</strong> <%= card.recommendedUsage %></p>
            <p><strong>Release date:</strong> <%= card.releaseDate %></p>
        </section>
    </main>
</body>
</html>
