<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>
<body>
    <%- include("partials/header") %>
    <main>
        <table id="manufacturersTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Founded Year</th>
                    <th>Headquarters</th>
                    <th>Website</th>
                </tr>
            </thead>
            <tbody>
                <% for (let manufacturer of manufacturers) { %>
                    <tr>
                        <td><%= manufacturer.id %></td>
                        <td><a href="/manufacturer/<%= manufacturer.id %>"><%= manufacturer.name %></a></td>
                        <td><%= manufacturer.foundedYear %></td>
                        <td><%= manufacturer.headquarters %></td>
                        <td><a href="<%= manufacturer.website %>"><%= manufacturer.website %></a></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </main>
</body>
</html>
